PORT=3000
CORS_ORIGIN=http://localhost:8080
LOG_LEVEL=info
#Cấu hình DB URL
DATABASE_URL=mysql://USER:PASSWORD@HOST:PORT/DATABASE_NAME?sslmode=require
# JWT secret cho accesstoken
JWT_SECRET=your_super_secret_key_64_bytes
# 15 phút = 900000ms
JWT_EXPIRES_IN=900000ms
# JWT secret cho refresh token
JWT_REFRESH_SECRET=your_refresh_secret_key_64_bytes
# 7 ngày = 604800000ms
JWT_REFRESH_EXPIRES_IN=604800000ms
