# PORT=3000
# CORS_ORIGIN=http://localhost:8080
# LOG_LEVEL=info
# #Cấu hình DB URL
# DATABASE_URL=mysql://root:@localhost:3306/english_learning_app
# # JWT secret cho accesstoken
# JWT_SECRET=your_super_secret_key_64_bytes
# # 15 phút = 900000ms
# JWT_EXPIRES_IN=900000
# # JWT secret cho refresh token
# JWT_REFRESH_SECRET=your_refresh_secret_key_64_bytes
# # 7 ngày = 604800000ms
# JWT_REFRESH_EXPIRES_IN=604800000


PORT=3000
CORS_ORIGIN="https://localhost:5173"
LOG_LEVEL=info
#Cấu hình DB URL
DATABASE_URL=mysql://root:@localhost:3306/english_learning_app
# JWT secret cho accesstoken
JWT_SECRET=your_super_secret_key_64_bytes
# 15 phút = 900000ms
JWT_EXPIRES_IN=900000
# JWT secret cho refresh token
JWT_REFRESH_SECRET=your_refresh_secret_key_64_bytes
# 7 ngày = 604800000ms
JWT_REFRESH_EXPIRES_IN=604800000

GOOGLE_CLIENT_ID="774080954802-jub4qqvp4eijmk5b04367fk4164omjk5.apps.googleusercontent.com"
# FACEBOOK_APP_ID="1417644583763676"
# FACEBOOK_APP_SECRET="5f7b690852c7871610cbd87e73fea8a9"
GOOGLE_AI_API_KEY="GOOGLE API KEY "